@import '../../index.scss';
.fullContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  height: 100%;
  padding: 20px; //to delete
  display: flex;
  flex-direction: column;
  overflow: scroll;
  .titleContainer {
    display: flex;
    flex-direction: column;
    h1,
    h2 {
      color: #8e8d8d;
      margin: 0;
    }
    h1 {
      font-weight: 400;
    }
    h2 {
      font-weight: 100;
    }

    @media screen and (min-width: $tablet) {
      margin-right: 32%;
      margin-bottom: px2rem(20);
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .sideMenu {
      flex-basis: 26%;
      flex-grow: 1;
      padding: px2rem(20);
      margin: px2rem(5);
      border: 4px solid rgb(232, 232, 232);
      background-color: white;
      height: px2rem(600);

      h1 {
        color: #1298bb;
        font-size: px2rem(28);
        font-weight: 100;
      }
      hr {
        opacity: 0.2;
        border: 0.1px solid #8e8d8d;
        box-shadow: 0 0 8px 1px black;
      }
      .chooseMenu {
        overflow: scroll;
        width: 100%;
        height: 90%;
        padding-left: px2rem(15);
      }
    }

    .SportIcons {
      position: relative;
      flex-basis: 63%;
      flex-grow: 1;
      padding: px2rem(20);
      border: 4px solid rgb(232, 232, 232);
      background-color: white;
      height: px2rem(600);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      overflow: scroll;
      margin: px2rem(5);
    }
  }
}

.popupBody {
  width: 96%;
  height: 93%;
  border: 7px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  h1,
  p {
    color: white;
  }
  svg {
    height: px2rem(130);
    width: px2rem(150);
    margin: px2rem(30) 0;
  }
}
.closeButton {
  position: absolute;
  top: px2rem(35);
  right: px2rem(35);
  width: px2rem(35);
  height: px2rem(35);
  -webkit-filter: invert(100%);
  filter: invert(100%);
  cursor: pointer;
}
