@import '../../index.scss';

.container {
  background-color: #f9f9f9;
  height: 100%;

  .sideMenu {
    width: px2rem(350);
    padding: px2rem(20);
    border: 4px solid rgb(232, 232, 232);
    background-color: white;
    height: px2rem(700);
    h1 {
      color: #1298bb;
      font-size: px2rem(28);
      font-weight: 100;
    }
    hr {
      opacity: 0.2;
      border: 0.1px solid #8e8d8d;
      box-shadow: 0 0 8px 1px black;
    }
    .chooseMenu {
      overflow: scroll;
      width: 100%;
      height: 90%;
      padding-left: px2rem(15);
    }
  }
}
