@import '../../index.scss';

.container {
  @include flexCenter;
  flex-direction: column;

  h1 {
    color: #353535;
    font-weight: 100;
    text-align: center;
    width: 80%;
    margin-top: px2rem(140);
  }

  .mainImage {
    @media screen and (min-width: $tablet) {
      width: px2rem(800);
    }
    width: 60vh;
    max-width: 85vw;
  }
}
