@import '../../index.scss';

@keyframes slideIn {
  from {
    background-position-y: -100px;
  }
  to {
    background-position-y: 0;
  }
}

.sideBarContainer {
  height: 100%;
  left: px2rem(25);
  z-index: 1000 !important;
  position: fixed;
  @media screen and (max-width: $mobile) {
    display: none;
  }
  @include flexCenter;
  .sideBar {
    @include flexCenter;
    width: px2rem(24);
    flex-direction: column;
    a {
      color: transparent;
    }
    .dot {
      cursor: pointer;
      @include flexCenter;
      position: relative;
      padding: px2rem(10);
      background-color: black;
      border-radius: 50%;
      border: px2rem(1) solid transparent;
      margin: px2rem(20) 0;
    }

    .activeDot {
      transition-delay: 300ms;
      background-color: #1298bb;
      padding: px2rem(12);
      box-shadow: 0 0 0 2px #f3f5f6 inset;
    }
  }
}
