@import '../../index.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sideBar {
  @include flexCenter;
  flex-direction: column;

  a {
    color: transparent;
  }

  .routerLine {
    display: inline-flex;
    direction: rtl;
    align-items: center;
    margin: px2rem(10) 0;

    .titleText {
      color: black;
      font-size: px2rem(18);
      white-space: nowrap;
      animation: fadeIn 1s;
      &:hover {
        text-decoration: underline;
      }
    }

    .dotContainer {
      display: inline-flex;
      align-items: center;
      padding: px2rem(10);
      .dot {
        padding: px2rem(10);
        background-color: black;
        border-radius: 50%;
        border: px2rem(1) solid transparent;
        &:not(.activeDot) {
          transition: 200ms linear;
          &:hover {
            transform: scale(1.1);
            transition: 300ms ease;
          }
        }
      }
      .activeDot {
        background-color: #1298bb;
        padding: px2rem(12);
        border: 2px solid;
        box-shadow: 0 0 0 2px #f3f5f6 inset;
      }
    }
  }
}
