@import '../../index.scss';

.container {
  @include flexCenter;
  box-sizing: border-box;
}

.Column1 {
  margin: px2rem(40);
  width: 25%;
  float: left;
  margin-right: px2rem(100);
  margin-top: px2rem(100);
  .cards {
    padding: px2rem(10);
    margin: px2rem(10);
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    width: 35%;
    img {
      width: 100%;
      margin-bottom: px2rem(-15);
    }
  }
}

.Column2 {
  width: 70%;
  float: left;
  .tip {
    h1 {
      font-size: px2rem(40);
      margin: px2rem(5) !important;
    }
    h2 {
      font-size: px2rem(70);
      margin: px2rem(10) !important;
    }
    h3 {
      font-size: px2rem(25);
      margin: px2rem(10) !important;
      font-weight: normal;
    }

    blockquote {
      font-size: px2rem(25);
      width: px2rem(700);
      margin: 0.25em 0;
      padding: 0.35em 40px;
      line-height: 1.45;
      position: relative;
      color: #383838;
    }
    blockquote::after {
      display: block;
      padding-left: 10px;
      content: '\201C';
      font-size: 80px;
      position: absolute;
      right: -20px;
      top: -20px;
      color: #7a7a7a;
    }
  }
}
