@import '../../index.scss';

.container {
  @include flexCenter;
  box-sizing: border-box;
}

.right {
  flex-basis: 25%;
  height: 100%;
  padding: px2rem(50);
  .squaresContaienr {
    @include flexCenter;
    flex-direction: column;
    img {
      padding: px2rem(10);
      margin: px2rem(10);
      margin: 0 px2rem(16);
      cursor: pointer;
      width: px2rem(100);
      height: px2rem(100);
      background-color: white;
      border: 2px solid;
      transition: 100ms;
    }
  }
}

.left {
  flex-basis: 75%;
  .tip {
    h1 {
      font-size: px2rem(40);
      margin: px2rem(5) !important;
    }
    h2 {
      font-size: px2rem(70);
      margin: px2rem(10) !important;
    }
    h3 {
      font-size: px2rem(25);
      margin: px2rem(10) !important;
      font-weight: normal;
    }

    blockquote {
      font-size: px2rem(25);
      width: px2rem(700);
      margin: 0.25em 0;
      padding: 0.35em 40px;
      line-height: 1.45;
      position: relative;
      color: #383838;
    }
    blockquote::after {
      display: block;
      padding-left: 10px;
      content: '\201C';
      font-size: 80px;
      position: absolute;
      right: -20px;
      top: -20px;
      color: #7a7a7a;
    }
  }
}
