@import '../../index.scss';

$translate-small: 36px;
$translate-large: 76px;
$blue: #2196f3;
$transition: 300ms;
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: $transition;
  transition: $transition;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: $transition;
  transition: $transition;
}

input:checked + .slider {
  background-color: $blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX($translate-small);
  -ms-transform: translateX($translate-small);
  transform: translateX($translate-small);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.large {
  width: 120px;
  height: 44px;
}

.slider.large:before {
  height: 32px;
  width: 32px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: $transition;
  transition: $transition;
}

input:checked + .slider.large:before {
  -webkit-transform: translateX($translate-large);
  -ms-transform: translateX($translate-large);
  transform: translateX($translate-large);
}
