@import '../../index.scss';

.container {
  @include flexCenter;
  background-color: #f9f9f9;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right;
  background-position: right bottom;
  flex-direction: column;
  transition: 200ms;
  @include breakpoint($tablet) {
    background-size: px2rem(150);
    transition: 200ms;
  }
}
.paper {
  overflow-wrap: break-word;
  flex-direction: column;
  max-width: px2rem(485);
  width: fit-content;
  display: flex;
  @include breakpoint($mobile) {
    background-color: rgba(255, 255, 255, 0.5);
    padding: px2rem(10);
    margin: px2rem(10) 0;
  }
  p {
    margin-top: px2rem(10);
    font-size: px2rem(26);
    font-weight: 100;
    direction: rtl;
  }
  h1 {
    font-weight: 800;
  }
}
.firstHeader {
  font-size: px2rem(30);
  margin: 0;
  margin-top: px2rem(80);
  color: $orange;
}
.secondHeader {
  font-size: px2rem(30);
  margin: 0;
  color: $turqiz;
}
