@import '../../index.scss';

@keyframes slideIn {
  0% {
    margin-left: px2rem(-500);
  }
  100% {
    margin-left: 0;
  }
}
@keyframes slideOut {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: px2rem(-500);
  }
}

.burgerSideBarContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: fit-content;
  z-index: 1001;
  .openButton {
    position: fixed;
    left: px2rem(20);
    top: px2rem(40);
    width: px2rem(40);
    cursor: pointer;

    @include breakpoint($mobile) {
      left: px2rem(20);
      top: px2rem(40);
      opacity: 0.4;
      width: px2rem(30);
    }
  }
  .sideBarPanel {
    position: relative;
    animation: slideIn 1s;
    width: px2rem(400);
    height: 100%;
    background-color: #191818f2;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    .closeButton {
      width: px2rem(30);
      position: absolute;
      left: px2rem(50);
      top: px2rem(50);
      -webkit-filter: invert(100%);
      filter: invert(100%);
      cursor: pointer;
      transition: 200ms;
      &:hover {
        transform: scale(1.1);
      }
    }
    @include breakpoint($tablet) {
      width: px2rem(250);
      // height: fit-content;
      padding-bottom: px2rem(50);
      animation: none;
      .closeButton {
        width: px2rem(25);
        left: px2rem(21);
        top: px2rem(37);
      }
    }

    .circlesImageContainer {
      position: absolute;
      bottom: px2rem(50);
      width: 100%;
      @include flexCenter;
      img {
        width: px2rem(100);
        height: fit-content;
      }
    }
  }
  .goingOut {
    animation: slideOut 1s;
    @include breakpoint($tablet) {
      animation: none;
    }
  }
}

.navLinks {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 70px;
  p {
    color: white;
    cursor: pointer;
    font-size: px2rem(28);
    font-weight: 100;
    margin: 0;
    margin-top: px2rem(15);
    width: fit-content;
  }
  p:hover {
    text-decoration: underline;
  }
  @include breakpoint($tablet) {
    margin-top: 50px;
    margin-right: 50px;
  }
}
