@import '../../index.scss';

.container {
  @include flexCenter;
}

.card {
  width: px2rem(280);
  height: px2rem(360);
  padding: px2rem(10);
  background-clip: content-box;
  @include flexCenter;
  flex-direction: column;
  h1 {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: px2rem(22);
    margin: 0;
    padding: 0;
  }
  p {
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: px2rem(16);
    margin: 0;
    padding: 0;
  }
  img {
    border-bottom: 3px solid white;
    width: px2rem(180);
  }
  .textBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 45%;
    button {
      width: max-content;
      padding: px2rem(3) px2rem(20);
      background-color: white;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: px2rem(10);
      font-size: px2rem(16);
      font-weight: 100;
    }
  }
}

.popup {
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 80% !important;
  height: 80% !important;
}
.closeButton {
  position: absolute;
  top: px2rem(35);
  right: px2rem(35);
  width: px2rem(30);
  height: px2rem(30);
  -webkit-filter: invert(100%);
  filter: invert(100%);
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: 100ms;
  }
}

.green {
  background-color: $--color-green;
  border: 6px solid $--color-green;
  button {
    color: $--color-green;
  }
}

.orange {
  background-color: $--color-orange;
  border: 6px solid $--color-orange;
  button {
    color: $--color-orange;
  }
}
.turqiz {
  background-color: $--color-turqiz;
  border: 6px solid $--color-turqiz;
  button {
    color: $--color-turqiz;
  }
}
