@import '../../index.scss';

.container {
  @include flexCenter;
  box-sizing: border-box;
}

.card {
  width: px2rem(280);
  height: px2rem(360);
  padding: px2rem(10);
  background-clip: content-box;
  @include flexCenter;
  flex-direction: column;
  h1 {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: px2rem(22);
    margin: 0;
    padding: 0;
  }
  p {
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: px2rem(16);
    margin: 0;
    padding: 0;
  }
  img {
    border-bottom: 3px solid white;
    width: px2rem(180);
  }
  .textBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 45%;
    button {
      width: max-content;
      padding: px2rem(3) px2rem(20);
      background-color: white;
      border: none;
      border-radius: px2rem(10);
      font-size: px2rem(16);
      font-weight: 100;
    }
  }
}
