@import '../../../index.scss';

.container {
  border-bottom: 1px solid #e5e5e5;
  padding: px2rem(20) px2rem(10) px2rem(10) 0;
  .categoryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      color: #8e8d8d;
      font-size: px2rem(26);
      font-weight: 100;
      direction: ltr;
    }
    .dropDownToggle,
    .openDropdownToggle {
      width: px2rem(20);
      height: px2rem(20);
      color: red;
      cursor: pointer;
    }
  }

  .subCategory {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: px2rem(10) px2rem(5) px2rem(5) px2rem(5);
    input[type='checkbox'] {
      transition: 100ms;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* create custom checkbox appearance */
      display: inline-block;
      width: px2rem(20);
      height: px2rem(20);
      padding: px2rem(1.2);
      /* background-color only for content */
      background-clip: content-box;
      border: 1.5px solid #1298bb;
      border-radius: 0;
      background-color: white;
      margin-left: 5px;
      margin-right: 5px;

      &:checked {
        transition: 100ms;
        background-color: #1298bb;
      }

      &:focus {
        outline: none !important;
      }
    }
    span {
      color: #8e8d8d;
      font-size: px2rem(22);
      font-weight: 100;
    }
  }
}

.Icon {
  width: px2rem(100);
  height: px2rem(100);
  margin: 0 px2rem(16);
  @include flexCenter;
  background-color: white;
  border: 2px solid;
  svg {
    padding: px2rem(10);
    width: px2rem(70);
    height: px2rem(70);
  }

  @media screen and (max-width: $tablet) {
    width: px2rem(75);
    height: px2rem(75);
    svg {
      padding: px2rem(7);
      width: px2rem(50);
      height: px2rem(50);
    }
  }
}

.green {
  border-color: #4fb27f;
  svg {
    background-color: #4fb27f;
  }
}
.orange {
  border-color: #f18267;
  svg {
    background-color: #f18267;
  }
}
.turqiz {
  border-color: #60cce8;
  svg {
    background-color: #60cce8;
  }
}
.blue {
  border-color: #7587ae;
  svg {
    background-color: #7587ae;
  }
}

.disabled {
  border-color: gray;
  svg {
    background-color: gray;
  }
}
