@import '../../../index.scss';

.container {
  border-bottom: 1px solid $--color-gray-1;
  padding: px2rem(20) px2rem(10) px2rem(10) 0;
  .categoryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .left {
      display: flex;
      align-items: center;
      .dropDownToggle,
      .openDropdownToggle {
        width: px2rem(20);
        height: px2rem(20);
        color: red;
        cursor: pointer;
      }

      .indicator {
        margin: 0 px2rem(20);
        background-color: $--color-gray-1;
        color: #8e8d8d;
        border-radius: 50%;
        height: 26px;
        width: 26px;
        line-height: 26px;
        display: inline-block;
        text-align: center;
        margin-right: 6px;
      }
    }
    .title {
      color: #8e8d8d;
      font-size: px2rem(26);
      font-weight: 100;
      direction: ltr;
      text-align: right;
    }
    .dropDownToggle,
    .openDropdownToggle {
      width: px2rem(20);
      height: px2rem(20);
      cursor: pointer;
    }
  }

  .subCategory {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: px2rem(10) px2rem(5) px2rem(5) px2rem(5);
    input[type='checkbox'] {
      transition: 100ms;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* create custom checkbox appearance */
      display: inline-block;
      width: px2rem(20);
      height: px2rem(20);
      padding: px2rem(1.2);
      /* background-color only for content */
      background-clip: content-box;
      border: 1.5px solid #1298bb;
      border-radius: 0;
      background-color: white;
      margin-left: 5px;
      margin-right: 5px;

      &:checked {
        transition: 100ms;
        background-color: #1298bb;
      }

      &:focus {
        outline: none !important;
      }
    }
    span {
      color: #8e8d8d;
      font-size: px2rem(22);
      font-weight: 100;
    }
  }
}

.Icon {
  width: px2rem(80);
  @include flexCenter;
  height: px2rem(80);
  background-color: white;
  border: 2px solid;
  transition: 100ms;
  @include breakpoint($tablet) {
    margin: px2rem(16);
  }
  @include breakpoint($desktop) {
    width: px2rem(75);
    height: px2rem(75);
  }
  margin-bottom: 0 !important;
  svg {
    padding: 10%;
    cursor: pointer;
    width: 70%;
    height: 70%;
  }
  &:hover:not(.disabled) {
    transform: scale(1.05);
  }
}

.green {
  color: $--color-green;
  border-color: $--color-green;
  svg {
    background-color: $--color-green;
  }
}
.orange {
  color: $--color-orange;
  border-color: $--color-orange;
  svg {
    background-color: $--color-orange;
  }
}
.turqiz {
  color: $--color-turqiz;
  border-color: $--color-turqiz;
  svg {
    background-color: $--color-turqiz;
  }
}
.blue {
  color: $--color-blue;
  border-color: $--color-blue;
  svg {
    background-color: $--color-blue;
  }
}

.disabled {
  border-color: $--color-gray-1;
  color: $--color-gray-1;
  svg {
    background-color: $--color-gray-1;
    cursor: default !important;
  }
}
