@import '../../index.scss';

.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.Column1 {
  margin: px2rem(10);

  img {
    width: 20%;
  }
}
h1 {
  color: #353535;
  font-weight: 100;
  font-size: x-large;
  text-align: right;
}

p {
  color: #353535;
  font-weight: 100;
  font-size: medium;
  text-align: right;
}

.Column2 {
  width: 30%;
}

.Column3 {
  width: 30%;
}
