@import '../../index.scss';

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  box-sizing: border-box;
  padding: px2rem(100) 10%;
  @include breakpoint($mobile) {
    padding: px2rem(70) 10% px2rem(30) 10%;
  }
  position: relative;
  flex-wrap: wrap;
}

h1 {
  color: #353535;
  font-weight: 100;
  font-size: x-large;
  text-align: right;
}

p {
  color: #353535;
  font-weight: 100;
  font-size: medium;
  text-align: right;
}
.onePageRoute {
  margin: 0;
  ç &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.column {
  flex-grow: 1;
}

.redesigneBy {
  position: absolute;
  bottom: 0;
}
