$--color-turqiz: #1298bb;
$--color-blue: #7587ae;
$--color-green: #4fb27f;
$--color-orange: #f18267;
$--color-yellow: #f9fc5d;
$--color-red: #ef4c23;
$--color-gray-1: #e5e5e5;
$--color-gray-2: #c2c1c1;
