@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
body {
  direction: rtl;
  margin: 0;
}

p,
pre,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik';
}

.section {
  height: fit-content;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerSection {
  height: fit-content !important;
  min-height: unset;
  background-color: #f9f9f9;
}
.graySection {
  background-color: #f9f9f9;
}

#Successes {
  background-position-x: 5%;
  background-image: linear-gradient(90deg, #f9f9f9, #f9f9f9);
  background-size: 30% 100%;
  background-repeat: no-repeat;
}
#Tips {
  background-position-x: 95%;
  background-image: linear-gradient(90deg, #f9f9f9, #f9f9f9);
  background-size: 30% 100%;
  background-repeat: no-repeat;
}

.limpiLogo {
  position: fixed;
  top: px2rem(36);
  transition: 200ms;
  width: px2rem(140);
  z-index: 2;
}
.limpiLogoRight {
  transition: width 200ms;
  right: px2rem(20);
  top: px2rem(20);
  width: px2rem(100);
}

.rounded {
  border-radius: 50% !important;
}

.text-align-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.d-flex-center {
  @include flexCenter;
}
.flex-column {
  flex-direction: column;
}

/* carousle start */
.rec-carousel-wrapper {
  padding: 0 px2rem(40);
}

.rec-carousel {
  position: relative;
  .rec-arrow-left {
    position: absolute;
    bottom: -25%;
    right: 40%;
    background-color: transparent !important;
    box-shadow: none !important;

    @include breakpoint($desktop-large) {
      right: 45%;
    }
    @include breakpoint($tablet) {
      right: 35%;
    }
    @include breakpoint($mobile) {
      right: 25%;
    }
  }
}

.rec-slider-container {
  position: relative;
}

.rec-arrow-right {
  position: absolute;
  bottom: -25%;
  left: 40%;
  background-color: transparent !important;
  box-shadow: none !important;
  @include breakpoint($desktop-large) {
    left: 45%;
  }
  @include breakpoint($tablet) {
    left: 35%;
  }
  @include breakpoint($mobile) {
    left: 25%;
  }
}
.rec-arrow {
  transition: 100ms;
}

.rec-slider-container {
  width: 86% !important;
  margin: 0 auto !important;
}

.rec-arrow:enabled {
  color: #333 !important;
}
.rec-arrow:hover {
  transform: scale(1.1) !important;
  transition: 100ms;
}

/* carousle end*/
