@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
body {
  direction: rtl;
  margin: 0;
}

p,
pre,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik';
}

.section {
  height: fit-content;
  overflow: hidden;
  min-height: 100vh;
}

.limpiLogo {
  @media screen and (max-width: $tablet) {
    right: 40vw;
  }
  position: sticky;
  top: px2rem(36);
  right: 45vw;
  transition: 200ms;
  width: px2rem(140);
}
.limpiLogoRight {
  position: sticky;
  top: 0;
  left: 0;
  right: 0px;
  transition: 200ms;
  z-index: 2;
  width: px2rem(100);
}
