@import './mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik');

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik';
}

.section {
  height: 100vh;
  overflow: hidden;
}

.limpiLogo {
  position: sticky;
  top: 0;
  right: 45vw;
  transition: 200ms;
}
.limpiLogoRight {
  position: sticky;
  top: 0;
  left: 0;
  right: 0px;
  transition: 200ms;
}
