// breakpoints
$mobile-small: 360px;
$mobile-medium: 480px;
$mobile: 767px;
$tablet: 1024px;
$desktop-small: 1180px;
$desktop: 1280px;
$desktop-large: 1800px;

@function px2rem($val: 1) {
  @return $val / 16 * 1rem;
}

@mixin breakpoint($rule) {
  @if $rule == $desktop-large {
    @media only screen and (min-width: #{$rule}) {
      @content;
    }
  } @else {
    @media only screen and (max-width: #{$rule}) {
      @content;
    }
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

$font-sizes: 10 12 14 16 18 20 22 24 32 56;

@each $size in $font-sizes {
  .font-size-#{$size} {
    font-size: px2rem($size) !important;
  }
}

$padding-sizes: 10 12 14 16 18 20 22 24 32 56;

@each $size in $padding-sizes {
  .padding-#{$size} {
    padding: px2rem($size) !important;
  }
}
$margin-sizes: 10 12 14 16 18 20 22 24 32 56;

$directions: top bottom right left;

@each $size in $margin-sizes {
  .margin-#{$size} {
    margin: px2rem($size) !important;
  }
}

$orange: #ef4b23;

$turqiz: #1298bb;

$blue: #7587ae;

$green: #4fb27f;

$orange: #f18267;

$yellow: #f9fc5d;

$red: #ef4c23;

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
